[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
spacy = "*"
networkx = "*"
graphviz = "*"
pytextrank = "*"
numpy = "*"
pip = "*"
six = "*"
py-stringmatching = "*"
spacy-langdetect = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
lyricsgenius = "*"

[requires]
python_version = "3.7"

[scripts]
music = "./scripts/music.sh"
setup = "./scripts/setup.sh"

[pipenv]
allow_prereleases = true
